@font-face {
  src: url('./karla-bold.woff2') format('woff2');
  font-family: 'Karla Bold';
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url('./karla-bold.woff') format('woff');
  font-family: 'Karla Bold';
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url('./karla-regular.woff2') format('woff2');
  font-family: 'Karla Regular';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./karla-regular.woff') format('woff');
  font-family: 'Karla Regular';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./roboto-regular.woff2') format('woff2');
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./roboto-regular.woff') format('woff');
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./source-sans-pro-regular.woff2') format('woff2');
  font-family: 'Source Sans Pro Regular';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./source-sans-pro-regular.woff') format('woff');
  font-family: 'Source Sans Pro Regular';
  font-weight: normal;
  font-display: swap;
}
