.Main {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  height: 100vh;
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);  z-index: -1;
}

.content {
  padding-top: 200px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container {
  padding-top: 20px;
  padding-left: 157px;
}

.title {
  font-family: 'Karla Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}

.subtitle {
  font-family: 'Karla Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  margin: 64px 0 65px;
}

.button {
  font-family: 'Karla Bold';
  width: 231px;
  height: 66px;
  background: #FFC107;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 50px;
  }
  .subtitle {
    font-size: 28px;
  }
  .title {
    font-size: 62px;
  }
}

@media screen and (max-width: 1090px) {
  .image {
    display: none;
  }
}

@media screen and (max-width: 372px) {
  .subtitle {
    font-size: 22px;
  }
  .title {
    font-size:50px;
  }
  .container {
    padding-left: 20px;
  }
  .button {
    font-size: 20px;
  }
}
