.select_container {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  border: none;
  appearance: none;
  background: #F2F2F2;
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
  border-radius: 4px;
  width: 135px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.option {
  font-family: 'Source Sans Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
