.title {
  font-family: 'Karla Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FDFDFD;
  margin: 0;
}

.card_content_image {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1F2A63;
  box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
  border-radius: 8px 0px 0px 8px;
  width: 365px;
  height: 371px;
}

.image {
  display: block;
}

.card_content {
  background: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
  border-radius: 0px 16px 16px 0px;
}

.container {
  margin: 30px 0 0 13px;
}

.enum {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: auto;
  margin-right: 16px;
  list-style-type: none;
}

.enum_floor {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
  background-color: #FFC107;
  padding: 0 15px;
  border-radius: 11px;
  list-style-type: none;
  display: flex;
  align-self: center;
}

.enum_type {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
  padding: 0 15px;
  border-radius: 11px;
  list-style-type: none;
  display: flex;
  align-self: center;
  background-color: #07D6F2;
  padding: 0 15px;
  border-radius: 11px;
  list-style-type: none;
  margin-left: 12px;
}

.container_content {
  width: 264px;
  height: 104px;
  background: #FDFDFD;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
  margin-top: 22px;
}

.container_subtitle {
  display: flex;
  flex-direction: column;
  font-family: 'Karla Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: start;
  color: #000000;
  padding-top: 25px;
}

.subtitle {
  margin: 0 0 0 25px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 60px;
}

.list_container {
  background: #FDFDFD;
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 70px;
  padding: 0;
  margin-right: 24px;
}

.number {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  background: #ffffff;
  border: 3px solid #212121;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-family: 'Karla Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.number_title{
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 807px) {
  .card_content_image {
    width: 300px;
    height: 260px;
  }
  .card_content {
    width: 340px;
    height: 260px;
  }
  .title {
    font-size: 20px;
  }
  .container_content {
    width: 264px;
    height: 60px;
  }
  .container_subtitle {
    padding-top: 5px;
  }
  .list {
    padding-top: 0px;
  }
}

@media screen and (max-width: 644px) {
  .card_content_image {
    width: 200px;
    height: 260px;
  }
  .card_content {
    width: 280px;
    height: 260px;
  }
  .title {
    font-size: 20px;
  }
  .container_content {
    width: 264px;
    height: 60px;
  }
  .container_subtitle {
    padding-top: 5px;
  }
  .list {
    padding-top: 0px;
  }
}

@media screen and (max-width: 482px) {
  .card_content_image {
    display: none;
  }
  .card_content {
    border-radius: 16px;
  }
}
