@import url('shared/accets/fonts/fonts.scss');
@import url('./shared/accets/fonts/normalize.scss');

.app{
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  z-index: 0;
}
