%link {
  margin-right: 74px;
  font-size: 25px;
  line-height: 29px;
  color: #F6F7F9;
  text-decoration: none;
}

.link_active {
  @extend %link;
  border-bottom: 3px solid #CFDAB0;
}

.link_inactive {
  @extend %link;
}

